{% extends "layout.html" %}
{% block header %}
<div class="top">
  <div class="container">
    <h1>ToPDF</h1>
    <p>将网页转化为PDF格式文件,  依赖一个Chrome插件,  便可一键转化.</p>
  </div>
</div>
{% end %}

{% block container %}
<div class="container">
	<div class="row">
		
		<div class="col-md-12">
        	<h2 class="form-signin-heading">注册 <a href='/' class="small">(回到主页)</a></h2>
        	<form role="form" action="/join" method="post" >
		        <input type="text" class="form-control  login-input" autocomplete="off" name="account">
		        <input type="password" class="form-control  login-input" autocomplete="off" name="password">
		        <input  class="form-control login-submit" type="submit" value="提交"></button>
            <a href="/login"><input class="form-control login-submit" type="button" value="登录"></button></a>
	    	</form>
        
    	</div>

        <div class="col-md-12 fix-top">
        	<hr class="_hr">
        	<h4 class="form-signin-heading" style="margin-bottom:20px;">第三方账号登录</h4>
	        	<a href="/oauth/github" class="oauth"><span><img src="http://www.easyicon.net/api/resize_png_new.php?id=1154664&size=24"  width="17px;"></span> GitHub</a>
	        	<a href="/oauth/douban" class="oauth"><span><img src="http://img3.douban.com/pics/douban-icons/favicon_24x24.png" width="17px;"></span> douban</a>
       	</div> 
    </div>
</div>
{% end %}
    
{% block foot %}{% end %}