<!DOCTYPE html>
<html>
<head>
   	<title>pdf</title>
   	<link rel="stylesheet" href="{{ static_url("bower_components/bootstrap/dist/css/bootstrap.css") }}">
</head>
<body>
    <p>pdf- {{pdf}}</p>
    <a href="{{pdf_url}}">Download</a>
    <form action="/"
<script src="{{ static_url('bower_components/seajs/dist/sea.js')}}" type="text/javascript"></script>
<script type="text/javascript">
seajs.config({
    base: "../../../",
    alias: {
      "jquery": "jquery/dist/jquery.min",
    }
});

require('jquery')
</script>
</body>
</html>